@page "/projects/create"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@using ProjectBank.Core
@using ProjectBank.Shared.forms
@attribute [Authorize (Roles = "Supervisor")]
@implements IDisposable
@inject ILogger<CreatePost> _logger
@inject NavigationManager _uriHelper;
@inject HttpClient _http
@inject ILocalStorageService _localStore

<PageTitle>Create post</PageTitle>
<Content>
    <Padding>
        <h1>Create post</h1>
        <EditForm EditContext="@_editContext" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-floating my-3">
                <InputText id="title" class="form-control" placeholder="Title of the project"
                           @bind-Value="_postFormModel.Title"/>
                <label for="title">Title</label>
            </div>
            <div class="form-floating my-3">
                <InputTextArea id="content" class="form-control" placeholder="Content of the project" style="height: 100px"
                               @bind-Value="_postFormModel.Content">
                </InputTextArea>
                <label for="content">Content</label>
            </div>
            <InputTag Id="tags" Label="test" @bind-Value="_postFormModel.Tags"></InputTag>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-outline-primary btn-lg" disabled="@_formInvalid">Submit</button>
            </div>
        </EditForm>
    </Padding>
</Content>

@code {
    private readonly PostFormModel _postFormModel = new();

    private bool _formInvalid = true;
    private EditContext? _editContext;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_postFormModel);
        _editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (_editContext is null) return;
        _formInvalid = !_editContext.Validate();
        StateHasChanged();
    }

    private async void HandleValidSubmit()
    {
        _logger.LogInformation("CreatePost called");
        var tags = new HashSet<string>();
        /*DO NOT DELETE this if statement even if the IDE says that it is always true*/
        if (_postFormModel.Tags != null && _postFormModel.Tags.Length > 0)
        {
            tags = _postFormModel.Tags.Split(",").Select(t => t.Trim().ToUpper()).ToHashSet();
        }
        var post = new PostCreateDto()
        {
            Title = _postFormModel.Title,
            Content = _postFormModel.Content,
            UserOid = (await _localStore.GetItemAsync<UserDetailsDto>("user")).Oid,
            Tags = tags
        };
        var response = await _http.PostAsJsonAsync("api/Post", post);
        if (response.IsSuccessStatusCode)
        {
            var postId = await response.Content.ReadFromJsonAsync<PostDetailsDto>();
            _uriHelper.NavigateTo("/Projects/" + postId?.Id);
        }
        else
        {
            _logger.LogCritical("Critical status code: " + response.StatusCode);
        }
    }

    public void Dispose()
    {
        if (_editContext is not null)
        {
            _editContext.OnFieldChanged -= HandleFieldChanged;
        }
    }

}