@page "/projects"
@using ProjectBank.Core
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ProjectBank.Client.Extensions
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize (Roles = "Supervisor")]
@inject HttpClient _http
@inject ILocalStorageService _localStore
@implements IDisposable

<Content>
    <Padding>
        <div class="d-flex justify-content-between">
            <h3>Showing my projects</h3>
            <EditForm EditContext="@_editContext">
                <InputSelect class="form-select" @bind-Value="_tagModel.Name">
                    <option selected>Filter by tag</option>
                    @if (_allPosts != null)
                    {
                        @foreach (var tag in _allPosts.GetTagsFromPosts())
                        {
                            <option>@tag</option>
                        }
                    }
                </InputSelect>
            </EditForm>
        </div>
        @if (_posts == null || _posts.Count == 0)
        {
            <p>You have no posts to show</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Views</th>
                        <th scope="col">State</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in _posts)
                    {
                        <MyProjectsTableRowComponent Post="@post"></MyProjectsTableRowComponent>
                    }
                </tbody>
            </table>
        }
    </Padding>
</Content>

@code {

    private EditContext _editContext;
    private readonly TagSelectorModel _tagModel = new();

    class TagSelectorModel
    {
        public string Name { get; set; }
    }

    private List<PostDetailsDto>? _allPosts;
    private List<PostDetailsDto>? _posts;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_tagModel);
        _editContext.OnFieldChanged += EditContext_HandleFieldChanged;

        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await _localStore.GetItemAsync<UserDetailsDto>("user");
            _allPosts = await _http.GetFromJsonAsync<List<PostDetailsDto>>("api/Post/supervisor/" + user.Oid);
            if (_allPosts != null)
            {
                _allPosts = _allPosts?.OrderByDescending(dto => dto.DateAdded).ToList();
                if (_allPosts != null) _posts = new List<PostDetailsDto>(_allPosts);
            }

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void EditContext_HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        var tag = _tagModel.Name;
        if (_allPosts != null) _posts = new List<PostDetailsDto>(_allPosts);
        if (!tag.Equals("Filter by tag")) _posts = _posts?.Where(p => p.Tags.Contains(tag)).ToList();
        StateHasChanged();
    }

    public void Dispose()
    {
        _editContext.OnFieldChanged -= EditContext_HandleFieldChanged;
    }

}