@using Core
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager uriHelper;

<button class="btn btn-primary" @onclick="AddTestPost">
    Add test post
</button>

@code {
    private async Task AddTestPost()
    {
        try
        {
            var post = new PostCreateDto
            {
                Title = "Math Project",
                Content = "5 + 2 = 7",
                DateAdded = DateTime.Now,
                SupervisorId = 1,
                Tags = new HashSet<string>() { "Math" }
            };
            var response = await Http.PostAsJsonAsync("Post", post);
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);

            var comment = new CommentCreateDto
            {
                Content = "Very nice post",
                DateAdded = DateTime.Now,
                UserId = 1,
                PostId = 1
            };
            var response2 = await Http.PostAsJsonAsync("Comment", comment);
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
