@using Core
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager uriHelper;

<button class="btn btn-primary" @onclick="AddTestPost">
    Add test post
</button>

@code {
    private async Task AddTestPost()
    {
        try
        {
            var post = new PostCreateDto
            {
                Title = "Math Project",
                Content = "5 + 2 = 7",
                SupervisorOid = "1",
                Tags = new HashSet<string>() { "Math" }
            };
            var response = await Http.PostAsJsonAsync("api/Post", post);
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
