.tab-label{
    cursor: text;
}
.tab-label::after {
    content: ' ';
    display: none;
    height: 20px;
    width: 1px;
    vertical-align: middle;
    background: black;
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
input:focus + .tab-label::after{
    display: inline-block;
}

.tab-label.moveLabelHighlighterBack::after{
    transform: translateX(-20px);
    background: white !important;
}
.tab-label.moveLabelHighlighterBack.endWithSpace::after{
    transform: translateX(-14px) !important;
}
@keyframes blink {
    from {opacity: 0}
    to {opacity: 1}
}