@using ProjectBank.Core
@using ProjectBank.Client.Extensions
@inject HttpClient _http;
<div class="list-group-item cursor list-group-item-action py-3 lh-tight @_extraCSS @ActiveString" aria-current="true">
    <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">@Recipient</strong>
        <small>@LastMessageDateString</small>
    </div>
    <small class="col-10 mb-1 text-muted">@_relatedPostString</small>
</div>

@code {

    private string? Recipient { get; set; }

    private string? LastMessageDateString { get; set; }

    private string ActiveString { get; set; } = "";
    
    [Parameter]
    public bool Active
    {
        get => ActiveString.Equals("active");
        set => ActiveString = value ? "active" : "";
    }

    private ChatDetailsDto? _chat { get; set; }

    [Parameter]
    public ChatDetailsDto? Chat
    {
        get => _chat;
        set
        {
            _chat = value;
            updateAsync();
        }
    }

    private string _relatedPostString { get; set; }

    [Parameter]
    public bool Read { get; set; }

    private string _extraCSS { get; set; }

    protected override void OnInitialized()
    {
    //Convert related posts to string
        _extraCSS = Read ? "" : "unread";
    }

    protected override async Task OnInitializedAsync()
    {
        updateAsync();
    }

    private async void updateAsync()
    {
        var targetUser = await _http.GetFromJsonAsync<UserDetailsDto>($"/api/User/{_chat.TargetUserOid}");
        if (targetUser != null)
        {
            Recipient = targetUser.Name;
        }
        if (_chat.ProjectId == null)
        {
            _relatedPostString = "General";
        }
        else
        {
            var relatedPost = await _http.GetFromJsonAsync<PostDetailsDto>($"/api/Post/{_chat.ProjectId}");
            if (relatedPost?.Title != null) _relatedPostString = relatedPost.Title;
        }

        LastMessageDateString = Chat.LatestChatMessage.Timestamp.GetTimeSince();
        StateHasChanged();
    }

}