@using ProjectBank.Core
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient _http
<a href="/Projects/@PostId" class="post-container-link">
    <div class="post-container container border rounded p-3 my-4 bg-light bg-gradient">
        <div class="d-flex justify-content-between">
            <h2 class="bold">
                @Title
            </h2>
            <h2>
                @Name
            </h2>
        </div>
        <div>
            @Content
        </div>
        <div class="d-flex justify-content-start flex-wrap">
            @if (Tags != null)
            {
                @foreach (var tag in Tags)
                {
                    <Tag Name="@tag"></Tag>
                }
            }
        </div>
    </div>
</a>

@code {
    // Title of the project
    [Parameter]
    public int PostId { get; set; }

    // Title of the project
    [Parameter]
    public string Title { get; set; }

    // Name of the project's author, before named author
    [Parameter]
    public string SupervisorId { get; set; }

    // List of tags applied to a project. [optional]
    [Parameter]
    public HashSet<string>? Tags { get; set; }

    // The project's description, before named description
    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public DateTime DateAdded { get; set; }

    private string Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await _http.GetFromJsonAsync<UserDetailsDto>("api/User/" + SupervisorId);
            Name = user.Name;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}